<%= f.input :text, style:"width: 300px; height: 100px;", id:"myArea2", :input_html => { :class => "field col-md-12" } %>

<% if params[:reply_to_id] %>
  <%= f.hidden_field :reply_to_id, :value => params[:reply_to_id] %>
<% end %>

 <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
  </script>


<!--
  <div>
    <textarea name="post[:text]", style="width: 300px; height: 100px;" id="myArea2">
</textarea><br />
    <button onclick="addArea2();">Add Editor to TEXTAREA</button> <button onclick="removeArea2();">Remove Editor from TEXTAREA</button>
  </div>

  <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>

  <script type="text/javascript">
//<![CDATA[

  var area2;

  function addArea2() {
        area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');
  }

    bkLib.onDomLoaded(function() { addArea2(); });
  //]]>
  </script> -->